[Unit]
Description=swarm-cronjob
Documentation=https://crazymax.dev/swarm-cronjob/
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/swarm-cronjob
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogFacility=daemon
SyslogIdentifier=swarm-cronjob


[Install]
WantedBy=multi-user.target
